.App {
    background-color: #F2F2F2;
    display: grid;
    height: 100vh;
    grid-template-columns: 304px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: "s h" "s c";
}

.header {
    grid-area: h;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 19px;
}

.headerLeft {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.headerRight {
    display: flex;
    width: 515px;
    justify-content: space-between;
}

.headerUser {
    border-radius: 50%;
}

.sidebar {
    grid-area: s;
    background-color: #F8F8F8;
}

.main {
    grid-area: c;
    padding-left: 30px;
    padding-right: 30px;
}

.block-title {
    margin-bottom: 32px;
}

.btn {
    color: #503E9D;
    display: block;
    width: 70px;
    height: 24px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border: none;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.btn::after {
    content: "";
    position: absolute;
    background-image: url(./assets/images/Channel/rowRight.svg);
    background-repeat: no-repeat;
    top: 7px;
    right: -8px;
    width: 10px;
    height: 18px;
}

.block-content {
    display: grid;
    grid-template-columns: repeat(3, 336px);
    gap: 32px;
    margin-bottom: 42px;
}

.channelWrapper {
    display: flex;
    gap: 32px;
    align-items: center;
}

.channelTop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    height: 32px;
}

.sidebarTop {
    display: flex;
    flex-direction: column;
    padding: 33px 16px 0px;
}

.sidebarLogo {
    width: 187px;
    height: 46px;
    margin: 0 auto 33px;
}

.navigationList {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    width: 272px;
    height: 472px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.navigationBox {
    height: 305px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 128px;
}

.sidebarLines {
    margin-top: 32px;
}

.sidebar {
    width: 304px;
    background: #F8F8F8;
    border-radius: 0px 24px 24px 0px;
}

.sidebarCard {
    width: 240px;
    height: 324px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    background: #FFFFFF;
    box-shadow: 0px 24px 64px -4px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
}

.sidebarImg {
    margin-bottom: 24px;
}

.sidebarLine {
    width: 271px;
}

.sidebarTitle {
    color: #182135;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: 176px;
    margin-bottom: 8px;
}

.sidebarMany {
    color: #FB6D3A;
    text-decoration-line: underline;
}

.sidebarText {
    color: #626264;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 32px;
}

.sidebarBtn {
    width: 176px;
    height: 48px;
    background: #503E9D;
    border-radius: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #F7FAFC;
    position: relative;
}

.sidebarBtn::after {
    content: "";
    position: absolute;
    background-image: url(./assets/images/sidebar/rowRight.svg);
    background-repeat: no-repeat;
    top: 17px;
    right: 3px;
    width: 16px;
    height: 13px;
}

.sidebarBottom {
    padding: 24px 32px 34px;
}